include package.txt
include release.json
include version.txt
recursive-include component_catalog/dx/common/ *.py
recursive-include component_catalog/dx/dap/ *.py
recursive-include component_catalog/dx/dap/common/ *.py
recursive-include component_catalog/dx/dap/education_modal/ *.py
recursive-include component_catalog/dx/dap/photo_guideline/ *.py
recursive-include component_catalog/dx/dap/tax_info/ *.py
recursive-include component_catalog/dx/dap/util/ *.py
recursive-include component_catalog/dx/nv/ *.py
recursive-include component_catalog/dx/nv/checkout/ *.py
recursive-include component_catalog/dx/nv/common/ *.py
recursive-include component_catalog/dx/nv/item_details/ *.py
recursive-include component_catalog/dx/nv/meat_scanning/ *.py
recursive-include component_catalog/dx/home_screen/ *.py
recursive-include component_catalog/dx/trust/ *.py
