include package.txt
include release.json
include version.txt
recursive-include component_catalog/common/primitives/ *.py
recursive-include component_catalog/common/prism/ *.py
recursive-include component_catalog/common/prism/components/ *.py
recursive-include component_catalog/common/prism/tokens/ *.py
recursive-include component_catalog/common/layout/ *.py
recursive-include component_catalog/common/layout/components/ *.py
recursive-include component_catalog/common/shared/ *.py
