include package.txt
include release.json
include version.txt
recursive-include drive_protobuf/invoicing/ *.py
recursive-include drive_protobuf/partnerships/ *.py
recursive-include drive_protobuf/promotions/ *.py
recursive-include drive_protobuf/refunds/ *.py
recursive-include drive_protobuf/salesforce/ *.py
recursive-include drive_protobuf/configuration/ *.py
recursive-include drive_protobuf/events/ *.py
