include package.txt
include release.json
include version.txt
recursive-include component_catalog/cx/common/ *.py
recursive-include component_catalog/cx/common/action/ *.py
recursive-include component_catalog/cx/common/primitives/ *.py
recursive-include component_catalog/cx/financials/ *.py
recursive-include component_catalog/cx/financials/gift_card_store/ *.py
recursive-include component_catalog/cx/nv/ *.py
recursive-include component_catalog/cx/nv/common/ *.py
recursive-include component_catalog/cx/nv/discovery/ *.py
recursive-include component_catalog/cx/nv/growth/ *.py
recursive-include component_catalog/cx/promo/ *.py
recursive-include component_catalog/cx/promo/action/ *.py
recursive-include component_catalog/cx/promo/banner/ *.py
recursive-include component_catalog/cx/dashpass/ *.py
recursive-include component_catalog/cx/dine_out/ *.py
recursive-include component_catalog/cx/discovery/ *.py
recursive-include component_catalog/cx/postcheckout/ *.py
recursive-include component_catalog/cx/safety/ *.py
recursive-include component_catalog/cx/search/ *.py
recursive-include component_catalog/cx/self_help/ *.py
recursive-include component_catalog/cx/social/ *.py
