include package.txt
include release.json
include version.txt
recursive-include action_catalog/common/ *.py
recursive-include action_catalog/cx/ *.py
recursive-include action_catalog/dx/ *.py
recursive-include action_catalog/dx/common/ *.py
recursive-include action_catalog/dx/dap/ *.py
recursive-include action_catalog/dx/dap/earnings *.py
recursive-include action_catalog/dx/nv/ *.py
recursive-include action_catalog/dx/nv/checkout/ *.py
recursive-include action_catalog/dx/nv/common/ *.py
recursive-include action_catalog/dx/nv/item_details/ *.py
recursive-include action_catalog/dx/nv/item_scan/ *.py
recursive-include action_catalog/dx/nv/meat_scan/ *.py