include package.txt
include release.json
include version.txt
recursive-include pepto/test_service/ *
recursive-include pepto/catalog_service_prod/ *
recursive-include pepto/chow_service/ *
recursive-include pepto/consumer_customization_service/ *
recursive-include pepto/consumer_group_service/ *
recursive-include pepto/dasher-ratings-prod/ *
recursive-include pepto/dasher_preference_prod/ *
recursive-include pepto/dashmart/ *
recursive-include pepto/delivery/ *
recursive-include pepto/delivery_experience/ *
recursive-include pepto/delivery_state_change/ *
recursive-include pepto/developer_service_prod/ *
recursive-include pepto/dine_in_prod/ *
recursive-include pepto/drive_prod/ *
recursive-include pepto/ers_prod/ *
recursive-include pepto/eta_prod/ *
recursive-include pepto/expense_provider/ *
recursive-include pepto/feature_store/ *
recursive-include pepto/gifting_service/ *
recursive-include pepto/identity_insights_prod/ *
recursive-include pepto/inventory_service/ *
recursive-include pepto/logistics_pay/ *
recursive-include pepto/loyalty/ *
recursive-include pepto/lx_hub/ *
recursive-include pepto/merchandising_carousel_prod/ *
recursive-include pepto/merchant_financial_service_prod/ *
recursive-include pepto/mx_integrations_prod/ *
recursive-include pepto/onboarding_platform_prod/ *
recursive-include pepto/payout_service/ *
recursive-include pepto/photo_service_prod/ *
recursive-include pepto/prod_assignment/ *
recursive-include pepto/ratings_service/ *
recursive-include pepto/reservations_service_prod/ *
recursive-include pepto/retail_inventory_service/ *
recursive-include pepto/revenue_platform_prod/ *
recursive-include pepto/revenue_workflow_beta_prod/ *
recursive-include pepto/revenue_workflow_uat_prod/ *
recursive-include pepto/rfds/ *
recursive-include pepto/siteoutage/ *
recursive-include pepto/storefront/ *
recursive-include pepto/subscription_service/ *
recursive-include pepto/supply_demand/ *
