include package.txt
include release.json
include version.txt
recursive-include growth/cxprofile/ *.py
recursive-include growth/engagement_platform/ *.py
recursive-include growth/event_trigger/ *.py
recursive-include growth/history/ *.py
recursive-include growth/intelligent/ *.py
recursive-include growth/notification_hub/ *.py
recursive-include growth/appbadging/ *.py
recursive-include growth/notification_platform/ *.py
recursive-include growth/placements/ *.py
